<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="mysqltest">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost.lo:3306/petbooking</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">rootsh04</property>	
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>	
		<mapping resource="PetCustomerMapping.hbm.xml" />
		<mapping resource="PetItemAttributeMapping.hbm.xml" />
		<mapping resource="PetItemMapping.hbm.xml" />
		<mapping resource="PetReserveMapping.hbm.xml" />
		<mapping resource="PetSellMapping.hbm.xml" />
		<mapping resource="PetUserMapping.hbm.xml" />	
	</session-factory>
	
	
</hibernate-configuration>
